/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body {
    background-color: hsl(0, 0%, 95%);
    display: grid;
    place-items: center;
    min-height: 100vh;
}
main {
    display: flex;
    width: 60rem;
    height: fit-content;
    color: hsl(0, 0%, 95%);
}
.sedandiv {
    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0 0 15px;
}
.suvdiv {
    background-color: hsl(184, 100%, 22%);
}
.luxurydiv {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 15px 15px 0;
}
.img {
    width: 3.5rem;
    height: auto;
    padding-left: 24px;

}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    padding-left: 24px;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0 13px 4rem;
    color: hsla(0, 0%, 100%, 0.75);
}
.rep {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.repbtn {
    border-style: solid;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
    padding: 1rem 0.25rem;
    width: 10rem;
    font-size: medium;
}
.btn1 {
    color: hsl(31, 77%, 52%);
    border-color: hsl(0, 0%, 95%);
}
.btn2 {
    color: hsl(184, 100%, 22%);
    border-color: hsl(0, 0%, 95%);
}
.btn3 {
    color: hsl(179, 100%, 13%);
    border-color: hsl(0, 0%, 95%);
}

.btn1:hover{
    border-style: solid;
    background-color: hsl(31, 77%, 52%);
    color: white;
}
.btn2:hover {
    border-style: solid;
    background-color: hsl(184, 100%, 22%);
    color: white;
}
.btn3:hover {
    border-style: solid;
    background-color: hsl(179, 100%, 13%);
    color: white;
}
@media (max-width: 1440px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        width: 22rem;
    }
    .sedandiv {
        border-radius: 15px 15px 0 0;
        padding: 3rem;
    }
    .suvdiv{
        padding: 3rem;
    }
    .luxurydiv {
        border-radius:0 0 15px 15px;
        padding: 3rem;
    }
}