/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body {
    background-color: white;
}
main {
    display: flex;
    flex-direction: row;
    width: 60rem;
    height: fit-content;
    margin: 5rem auto 0 auto;
    color: white;
}
.sedandiv {
    display: flex;
    flex-direction: column;
    background-color: hsl(31, 77%, 52%);
    padding: 3rem;
    border-radius: 15px 0 0 15px;
}
.suvdiv {
    display: flex;
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
    padding: 3rem;
}
.luxurydiv {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
    padding: 3rem;
    border-radius: 0 15px 15px 0;
}
.img {
    width: 3.5rem;
    height: auto;
    padding-left: 24px;

}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    padding-left: 24px;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0 13px 4rem;
}
.btn1 {
    color: hsl(31, 77%, 52%);
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    padding: 1rem 0.25rem;
    width: 10rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.btn2 {
    color: hsl(184, 100%, 22%);
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    padding: 1rem 0.25rem;
    width: 10rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.btn3 {
    color: hsl(179, 100%, 13%);
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    padding: 1rem 0.25rem;
    width: 10rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.btn1:hover{
    border-style: solid;
    background-color: hsl(31, 77%, 52%);
    color: white;
}
.btn2:hover {
    border-style: solid;
    background-color: hsl(184, 100%, 22%);
    color: white;
}
.btn3:hover {
    border-style: solid;
    background-color: hsl(179, 100%, 13%);
    color: white;
}
@media (max-width: 1025px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        width: 22rem;
    }
    .sedandiv {
        border-radius: 15px 15px 0 0;
        padding: 3rem;
    }
    .suvdiv{
        padding: 3rem;
    }
    .luxurydiv {
        border-radius:0 0 15px 15px;
        padding: 3rem;
    }
}
